@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Orbitron:wght@500;700&display=swap");

:root {
  --primary-color: #18181a;
  --secondary-color: #1e1f23;
  --accent-color: #406aeb;
  --text-primary-color: #eceef0;
  --text-secondary-color: #eceef093;
  --border-color: #3d3c40;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--primary-color);
  color: var(--text-primary-color);
  line-height: 1.6;
}

/* GLOBAL variabel */

.big-title {
    font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: var(--text-primary-color);
  margin-bottom: 1rem;
}

.medium-title {
    font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: var(--text-primary-color);
  margin-bottom: 0.75rem;
}

.small-title {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-primary-color);
  margin-bottom: 0.5rem;
}

.text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-primary-color);
}

.small-text {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-secondary-color);
}

.tiny-text {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: var(--text-secondary-color);
}

.section-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
  padding-top: 3.5rem;   
  padding-bottom: 3.5rem;
}

.profile{
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (min-width: 1024px) {
  .section-container {
    padding-top: 5rem;   /* lg:py-20 */
    padding-bottom: 5rem;
  }
}

@media (min-width: 1536px) {
  .section-container {
    max-width: 1440px;   /* 2xl:max-w-screen-desktop */
  }
}

a{
  text-decoration: none;
}

.icon{
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.badge{
  background-color: #406aeb26;
  color: var(--accent-color);
  padding: 2px 8px;
  border-radius: 4px;
  width: fit-content;
}

.badge-group{
  display: flex;
  align-items: center;
  gap: 8px;
}


/* NAVBAR */

button,
a,
.can-hover {
  transition: all 0.3s ease-in-out;
}

button{
  font-family: "Inter", sans-serif;
}

/* Header */
header {
  position: fixed;
  left: 50%;
  z-index: 50;
  width: 100%;
  transform: translateX(-50%);
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--border-color);
}

/* Navbar */
.navbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.logo{
  height: 32px;
  width: auto;
}

/* Navbar links */

.navbar ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  color: var(--text-primary-color);
  text-decoration: none;
}
.navbar a:hover {
  color: var(--accent-color);
}

/* Nav link container (desktop) */
.nav-link-container {
  display: none;
  gap: 40px;
}
@media (min-width: 1024px) {
  .nav-link-container {
    display: flex;
  }
}

/* Button container */
.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

/* Tombol */
.button-primary {
  border-radius: 6px;
  background-color: var(--accent-color);
  padding: 8px 16px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  border: 1px solid var(--accent-color);
}
.button-primary:hover {
  filter: brightness(150%);
}

.button-secondary {
  border-radius: 6px;
  border: 1px solid var(--border-color);
  padding: 8px 16px;
  font-weight: 500;
  color: var(--text-primary-color);
  background: var(--secondary-color);
  cursor: pointer;
}
.button-secondary:hover {
  filter: brightness(1.1);
  color: white;
}

/* Desktop-only and mobile-only visibility */
.desktop-only {
  display: none;
}
@media (min-width: 1024px) {
  .desktop-only {
    display: inline-block;
  }
}
.mobile-only {
  display: inline-block;
}
@media (min-width: 1024px) {
  .mobile-only {
    display: none;
  }
}

/* Menu icon */
.menu-icon {
  width: 24px;
  height: 24px;
  color: var(--text-primary-color);
  cursor: pointer;
}

/* Mobile Navigation */
.nav-mobile {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 60%;
  background-color: var(--secondary-color);
  transition: .75s ease-out;
  border-left: 1px solid var(--border-color);
}
@media (min-width: 768px) {
  .nav-mobile {
    width: 40%;
  }
}

.nav-mobile-top{
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
}

.nav-mobile ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  height: 100%;
  gap: 12px;
  padding: 0 20px;
  font-size: 1.25rem;
  color: var(--text-primary-color);
}

.nav-mobile ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease-out;
  list-style: none;
}
.nav-mobile ul li a{
  text-decoration: none;
  color: var(--text-primary-color);
}
.nav-mobile ul li:hover {
  transform: translateX(4px);
}

/* Hidden state */
.nav-hidden {
  transform: translateX(100%);
}

/* Mobile buttons */
.mobile-buttons {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 12px;
  border-top: 1px solid var(--text-inactive-color);
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
}
.full-width {
  width: 100%;
}

/* Close icon */
.close-icon {
  margin-top: 56px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}


/* Sidebar */

#sidebar{
  position: fixed;
  height: calc(100vh - 74px);
  left: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  padding: 64px 48px;
  border-right: 1px solid var(--border-color);
}

#sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.popular-tags-sidebar{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sidebar-list{
  display: flex;
  align-items: center;
  gap: 8px;
  transition: .3s all;
}

.sidebar-list:hover{
  filter: brightness(.8);
  transition: .3s all;
}

li{
  list-style: none;
}

/* Main Content */

#main-content-container{
  padding-top: 74px;
}

#main-content{
  max-width: 95%;
  padding-top: 32px;
  margin: auto;
}

.card{
  background: var(--secondary-color);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 32px;
}

.thread-interaction{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left-interaction{
  display: flex;
  align-items: center;
  gap: 24px;
}

.vote{
  display: flex;
  align-items: center;
  gap: 8px;
}

.upvote,
.downvote,
.comment,
.share,
.bookmark{
  display: flex;
  align-items: center;
  gap: 4px;
}

.profile-picture{
  width: 32px;
  height: 32px;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.card-container{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (min-width: 1024px) {
  #main-content-container{
    margin-left: 216px;
    padding-top: 74px;
    width: calc(100vw - 216px);
    height: calc(100vh - 74px);
    /* overflow-x: hidden; */
  }

  #main-content{
  max-width: 90%;
}
}