@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Orbitron:wght@500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
  --primary-color: #18181a;
  --secondary-color: #1e1f23;
  --accent-color: #406aeb;
  --text-primary-color: #eceef0;
  --text-secondary-color: #eceef093;
  --border-color: #3d3c40;
}

/* Swiper */

.swiper-pagination-bullet-active {
  width: 20px;
  border-radius: 100%;
  background-color: var(--accent-color);
  color: var(--accent-color)
}

.swiper-wrapper{
  padding-bottom: 40px;
}

.accent{
  color: var(--accent-color) !important;
}

.text-primary{
  color: var(--text-primary-color) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--primary-color);
  color: var(--text-primary-color);
  line-height: 1.6;
  overflow-x: hidden;
}

/* GLOBAL variabel */

.big-title {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: var(--text-primary-color);
}

.medium-title {
    font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: var(--text-primary-color);
}

.small-title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-primary-color);
}

.text {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-primary-color);
}

.small-text {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-secondary-color);
}

.tiny-text {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: var(--text-secondary-color);
}

.section-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
  padding-top: 3.5rem;   
  padding-bottom: 3.5rem;
}

.code-container{
  display: block;
  background: var(--primary-color);
  color: var(--text-primary-color);
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
}

.input-box{
  background-color: var(--secondary-color);
  color: var(--text-primary-color);
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  font-family: "Inter", sans-serif;
  width: 300px;
}

.input-box::placeholder{
  color: var(--text-secondary-color);
  font-family: "Inter", sans-serif;

}

pre code {
  font-family: 'Fira Code', monospace;
  overflow-x: auto;
}

.keyword { color: var(--accent-color); }   /* pakai accent */
.string { color: #fbbf24; }    /* kuning */
.comment { color: var(--text-secondary-color); }

.margin-top-1{
  margin-top: 8px;
}
.margin-top-2{
  margin-top: 12px;
}
.margin-top-3{
  margin-top: 24px;
}

.margin-top-4{
  margin-top: 32px;
}

.clamp-1 {
  display: -webkit-box;           
  -webkit-box-orient: vertical;   
  -webkit-line-clamp: 1;          
  overflow: hidden;    
  text-overflow: ellipsis;           
}
.clamp-2 {
  display: -webkit-box;           
  -webkit-box-orient: vertical;   
  -webkit-line-clamp: 2;          
  overflow: hidden;    
  text-overflow: ellipsis;           
}
.clamp-3 {
  display: -webkit-box;           
  -webkit-box-orient: vertical;   
  -webkit-line-clamp: 3;          
  overflow: hidden;    
  text-overflow: ellipsis;           
}

.swiper-container{
  width: 100%;
  height: fit-content;
}

.text-center{
  text-align: center;
}

.margin-auto{
  margin: auto;
}

.interactable-icon{
  filter: brightness(1);
  transition: all .3s ease-out;
}

.interactable-icon:hover{
  transition: all .3s ease-out;
  filter: brightness(.7);
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-nav{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  gap: 24px;
}

@media (min-width: 768px){
  .big-title {
  font-size: 36px;
}

.medium-title {
  font-size: 24px;
}

.small-title {
  font-size: 20px;
}

.text {
  font-size: 16px;
}

.input-box{
  display: block;
}
}
@media (min-width: 1024px){
  .big-title {
  font-size: 40px;
}

.medium-title {
  font-size: 32px;
}

.small-title {
  font-size: 20px;
}

.text {
  font-size: 16px;
}
.swiper-container{
  display: none;
}
}


.profile{
  display: flex;
  align-items: center;
  gap: 12px;
}

/* LOGIN */


@media (min-width: 1024px) {
  .section-container {
    padding-top: 5rem;   /* lg:py-20 */
    padding-bottom: 5rem;
  }
}

@media (min-width: 1536px) {
  .section-container {
    max-width: 1440px;   /* 2xl:max-w-screen-desktop */
  }
}

a{
  text-decoration: none;
}

.icon{
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.badge{
  background-color: #406aeb26;
  color: var(--accent-color);
  padding: 2px 8px;
  border-radius: 4px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-badge{
  background-color: #406aeb26;
  padding: 8px;
  border-radius: 4px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge-group{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.achievement-container{
  display: flex;
  flex-direction: column;
  gap: 16px;
}


/* NAVBAR */

button,
a,
.can-hover {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

button{
  font-family: "Inter", sans-serif;
}

/* Header */
header {
  position: fixed;
  left: 50%;
  z-index: 50;
  width: 100%;
  transform: translateX(-50%);
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--border-color);
}

/* Navbar */
.navbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.logo{
  height: 32px;
  width: auto;
}

/* Navbar links */

.navbar ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  color: var(--text-primary-color);
  text-decoration: none;
}
.navbar a:hover {
  color: var(--accent-color);
}

/* Nav link container (desktop) */
.nav-link-container {
  display: none;
  gap: 40px;
}
@media (min-width: 1024px) {
  .nav-link-container {
    display: flex;
  }
}

/* Button container */
.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

/* Tombol */
.button-primary {
  border-radius: 6px;
  background-color: var(--accent-color);
  padding: 8px 16px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  border: 1px solid var(--accent-color);
}
.button-primary:hover {
  filter: brightness(150%);
}

.button-secondary {
  border-radius: 6px;
  border: 1px solid var(--border-color);
  padding: 8px 16px;
  font-weight: 500;
  color: var(--text-primary-color);
  background: var(--secondary-color);
  cursor: pointer;
}

.icon-button-secondary {
  border-radius: 6px;
  border: 1px solid var(--border-color);
  padding: 8px;
  font-weight: 500;
  color: var(--text-primary-color);
  background: var(--secondary-color);
  cursor: pointer;
}

.create-button{
  border-radius: 6px;
  border: 1px solid var(--border-color);
  padding: 4px 8px;
  font-weight: 500;
  color: var(--text-primary-color);
  background: var(--secondary-color);
  cursor: pointer;
  height: 100%;
}

.button-secondary:hover {
  filter: brightness(1.1);
  color: white;
}

/* Desktop-only and mobile-only visibility */
.desktop-only {
  display: none;
}
@media (min-width: 1024px) {
  .desktop-only {
    display: block;
  }
}
.mobile-only {
  display: block;
}
@media (min-width: 1024px) {
  .mobile-only {
    display: none;
  }
}

/* Menu icon */
.menu-icon {
  width: 24px;
  height: 24px;
  color: var(--text-primary-color);
  cursor: pointer;
}

/* Mobile Navigation */
.nav-mobile {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 60%;
  background-color: var(--secondary-color);
  transition: .75s ease-out;
  border-left: 1px solid var(--border-color);
}
@media (min-width: 768px) {
  .nav-mobile {
    width: 40%;
  }
}

.nav-mobile-top{
  width: 100%;
  padding-bottom: 20px;
  /* border-bottom: 1px solid var(--border-color); */
}

.nav-mobile ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  height: 100%;
  gap: 12px;
  padding: 0 20px;
  font-size: 1.25rem;
  color: var(--text-primary-color);
}

.nav-mobile ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease-out;
  list-style: none;
}
.nav-mobile ul li a{
  text-decoration: none;
  color: var(--text-primary-color);
}
.nav-mobile ul li:hover {
  transform: translateX(4px);
}

/* Hidden state */
.nav-hidden {
  transform: translateX(100%);
}

.justify-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Mobile buttons */
.mobile-buttons {
  align-items: start;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 12px;
  padding-top: 20px;
  border-top: 1px solid var(--border-color);
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
}
.full-width {
  width: 100%;
}

/* Close icon */
.close-icon {
  margin-top: 56px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.w-full{
  width: 100% !important;
}


/* Sidebar */

#sidebar{
  display: none;
  position: fixed;
  height: calc(100vh - 74px);
  left: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  padding: 64px 48px;
  border-right: 1px solid var(--border-color);

}

@media (min-width: 1024px) {
  #sidebar{
    display: block;
}
}

#sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.popular-tags-sidebar{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-list{
  display: flex;
  align-items: center;
  gap: 8px;
  transition: .3s all;
}

.sidebar-list:hover{
  filter: brightness(.8);
  transition: .3s all;
}

li{
  list-style: none;
}

/* Main Content */
#main-content-container{
  padding-top: 74px;
}

.detail-page #main-content-container{
  padding-top: 74px;
  align-items: start;
  grid-template-columns: 1fr;
  width: 100%;
}

#main-content{
  height: 100%;
  width: 85%;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  /* overflow-x: hidden; */
}


.card{
  background: var(--secondary-color);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  padding: 32px;
  transition: .3s ease-out;
}

.thread-card:hover{
  border: 1px solid var(--text-secondary-color);
  transition: .3s ease-out;
}

.thread-interaction{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left-interaction,
.right-interaction{
  display: flex;
  align-items: center;
  gap: 24px;
}

.vote{
  display: flex;
  align-items: center;
  gap: 8px;
}

.upvote,
.downvote,
.comment,
.share,
.bookmark,
.more,
.copy,
.icon-with-desc{
  display: flex;
  align-items: center;
  gap: 4px;
}

.information{
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile-picture{
  width: 32px;
  height: 32px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  object-fit: cover;
}

.border{
  border: 1px solid var(--border-color);
}

.big-profile-picture{
  width: 84px;
  height: 84px;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.card-container{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.interaction-thread-detail{
  padding: 12px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.copy-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.thread-content-list{
  list-style: disc;
}

.sidebar-card{
  background: var(--secondary-color);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 12px;
}

.other-thread{
  padding: 12px 0px;
  border-top: 1px solid var(--border-color);
}

.sidebar-2{
    display: none;
    
  }

  .comment-balloon{
  background: var(--secondary-color);
  border: 1px solid var(--border-color);
  border-radius: 0 6px 6px 6px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
}

.thread-comments{
  margin-top: 72px;
}

.reply-user-comment{
  padding-left: 32px;
}

.username{
  font-size: 16px;
}

pre{
  overflow-x: auto;
}

.who-to-follow-profile{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-information{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  flex-wrap: wrap;
  margin-top: 24px;
}



.portolio-content{
  margin-top: 24px;
}

.pagination-container{
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 32px;
}

.pagination{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.pagination-button{
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.pagination-primary{
  background-color: var(--accent-color);
  color: var(--text-primary-color);
}

.pagination-secondary{
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  color: var(--text-primary-color);
}

.create-thread{
  padding-top: 32px;
  padding-bottom: 32px;
}
.certification{
  width: 48px;
  height: 48px;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.certification-image{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 4px;
}

.achievement{
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (min-width: 768px){
  .profile-information{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 24px;
}

.all-tags-container{
  grid-template-columns: repeat(3, 1fr);
}
}


@media (min-width: 1024px) {
  
  
  #main-content-container{
    display: grid;
    align-items: start;
    margin-left: 216px;
    padding-top: 74px;
    width: calc(100vw - 216px);
    height: calc(100vh - 74px);
    grid-template-columns: 4fr 2fr;
    /* overflow-x: hidden; */
  }

  .sticky-sidebar{
  position: sticky;
  top: 85px;
}

  body.portofolio #main-content-container,
  body.tags #main-content-container{
    display: grid;
    margin-left: 216px;
    padding-top: 74px;
    width: calc(100vw - 216px);
    height: calc(100vh - 74px);
    grid-template-columns: 1fr;
    /* overflow-x: hidden; */
  }

  .profile-information{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.all-tags-container{
  grid-template-columns: repeat(4, 1fr);
}

.portolio-content{
  margin-top: 0;
}

  .profile-layout{
    display: grid;
    align-items: start;
    grid-template-columns: 2fr 4fr;
    gap: 24px;
  }
  
  
  .sidebar-2{
    display: block;
    align-items: start;
    max-width: 90%;
    padding-top: 32px;
  }

  #main-content{
  width: 90%;
}
}

.all-tags-container{
  display: grid;
  gap: 16px;
}